main {
    background-color: #F5F5F5;
    margin: auto;
    width: 83vw;
    border-radius: 15px;
    height: 83vw ;
}

body {
    background-color: #0E1C2B;
}

.die-Btn {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 20px 30px;
    box-shadow: 0px 2px 2px black;
    cursor: pointer;
}

.dieDiv {
    margin-left: 12.5vw;
    
    
    
}

.dice-btn {
    width: 50px;
    height: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: darkblue;
    color: white;

}