* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
header {
    width: 350px;
    height: 150px;
    text-align: center;
}

.message-div {
    display: flex;
    justify-content: center;
    background-color: purple;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 350px;
    justify-content: center;
}



.languages-div {
    margin: 3px ;
    border-radius: 8px;
    height: 35px;
    padding: 0 3px;

}

.word-p {
    margin-left: 3px;
    background-color: #363636;
    border-bottom: 2px solid #A8A8A8;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.keyboard {
    background-color: #FCBA29;
    
    width: auto;
    height: 30px;
    font-size: 1.5rem;
    text-align:center;
    text-transform: capitalize;
    color: #262626;
    margin: 2px 2px;
    border-radius: 5px;
    
}

.newGame {
    background-color: rgb(78, 157, 131);
    border: 1px solid white;
    width: 250px;
    height: 45px;
    font-size: 2rem;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 35px;
}

.green {
    background-color: green;

}

.red {
    background-color: orange;
}