body {
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    
}

.header {
    margin-top: 300px;
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
}

.header-p {
    font-size: 4rem;
}